.m-portfolio-hero {

	position: relative;
	// margin-bottom: $spacing*4;
	padding: 0;
	margin-top: $spacing*3;

	@media (min-width: $small-device) {
		padding: $spacing*3 $spacing*3;
		margin-top: $spacing*9;
		margin-bottom: $spacing*9;
	}

	& img {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		max-height: 100%;
	}
}
